# ============================================
# WAR TICKET — Environment Variables Template
# Copy file ini ke .env.local dan isi nilainya
# JANGAN commit .env.local ke git
# ============================================

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="War Ticket"

# Auth (NextAuth.js)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-min-32-chars

# Database (Prisma)
DATABASE_URL="postgresql://user:password@localhost:5432/warticket"

# Payment Gateway (Midtrans)
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=your-midtrans-client-key
MIDTRANS_SERVER_KEY=your-midtrans-server-key
MIDTRANS_IS_PRODUCTION=false

# Optional: Redis (untuk waiting room queue)
REDIS_URL=redis://localhost:6379

# Optional: Pusher (untuk real-time)
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=ap1
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=ap1
